<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap" rel="stylesheet">
        
        <title>Face Detection App</title>
    </head>

    <body>
        <h1 style="font-family: 'Grey Qo', cursive; font-size: 3.5vw; width: 50%; margin: auto; padding: 10px; text-align: center;">Face Detection App</h1>



        <div style="width: 50%; margin: auto; padding: 10px; text-align: center;">
            <img src="{{ url_for('face_detection.face_detection_helper') }}" width="100%"/>
        </div>



    </body>
</html>